body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #007c7c;
}
h1 {
  padding: 25px;
  font-size: 50px;
}
h3,
h4,
.currentWeather {
  padding: 20px;
}
h4 {
  text-transform: capitalize;
}

.card {
  margin: 30px auto;
  max-width: 500px;
  background: rgb(241, 245, 240);
  background: linear-gradient(
    0deg,
    rgba(241, 245, 240, 1) 0%,
    rgba(211, 226, 209, 1) 100%
  );
}
.currentWeatherImage {
  font-size: 80px;
}
.currentWeatherTemperature {
  font-size: 30px;
  padding: 45px 0 15px;
}
.currentWeatherParametrs {
  font-size: 17px;
  padding: 5px 0 20px;
}
.weather-forecast-date {
  font-size: 20px;
}
#celsiusLnk:link,
#celsiusLnk:visited,
#celsiusLnk:hover,
#celsiusLnk:active {
  text-decoration: none;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

#githubLink:link,
#githubLink:visited,
#githubLink:hover,
#githubLink:active {
  color: aliceblue;
  text-decoration: none;
}
.forecastDesign {
  box-shadow: 1px 1px 1px 1px white inset;
  background: rgb(211, 226, 209);
  padding-top: 10px;
  padding-bottom: 10px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.forecastImage {
  width: 60px;
}
